/*Body CSS File by Mr.black*/
/*https://open.taobao.com/docs/doc.htm?&treeId=10&articleId=102112&docType=1*/

/*Part I slider and countdown css*/

.body-1-1 {
	width:950px;
	height:430px;
	float:left;
	margin-top:24px;
}
/*slider part */
.body-1-1-1 {
	width:708px;
	height:430px;
	float:left;
	display:inline-block;
}

.body-1-1-1-1 {
	position:absolute;
	left:0px;
	top;0px;
	overflow:hidden;
	width:708px;
	height:430px;
}
.body-1-1-1-1-content {
	position:relative;
	left:0px;
	z-index:1;
}
.body-1-1-1-1-nav {
	display:inline-block;
	width:708px;
	height:12px;
	position:relative;
	top:404px;
	left:336px;
	margin:auto auto;
	z-index:2
}
.body-1-1-1-1-content-item{
	left:0px;
	display:block;
	width:708px;
	height:430px;
	float:left;
}

/*nvi part*/
.body-1-1-1-1-nav-item {
	display:inline-block;
	margin:0 6px 0 6px; 
	background-color: #000000; 
	width: 12px; 
	height: 12px;
}
.body-1-1-1-1-nav-item:hover {
	display:inline-block;
	margin:0 6px 0 6px; 
	background-color: #ff9900; 
	width: 12px; 
	height: 12px;
}

/*right part */
.body-1-1-2 {
	width:242px;
	height:430px;
	display:inline-block;
}
.body-1-1-2-item {
	width:220px;
	height:202px;
	overflow:hidden;
	position:relative;
	left:22px;
}
.body-1-1-2-split {
	width:220px;
	height:26px;
	overflow:hidden;
	position:relative;
	display:block;
	left:22px;
}

/*countdown part */
.countdown-bg {
	width:708px;
	height:84px;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	bottom:0px;
	left:0px;
	line-height:84px;
	font-size:18px;
	color:#ffffff;
	font-family:微软雅黑;
	text-align:center;
	font-weight:500;
	letter-spacing:4px;
}

.h-bg {
	background-color:#fa565a;
	width:48px;
	height:52px;
	border-radius:5px;
	font-size:24px;
	color:#ffffff;
	font-family:黑体;
	text-align:center;
	font-weight:bold;
	letter-spacing:4px;
	display:inline-block;
	position:relative;
	line-height:52px;
	top:2px;
}
.m-bg {
	background-color:#2dcb73;
	width:48px;
	height:52px;
	border-radius:5px;
	font-size:24px;
	color:#ffffff;
	font-family:黑体;
	text-align:center;
	font-weight:bold;
	letter-spacing:4px;
	display:inline-block;
	position:relative;
	line-height:52px;
	top:2px;
}
.s-bg {
	background-color:#f6bc57;
	width:48px;
	height:52px;
	border-radius:5px;
	font-size:24px;
	color:#ffffff;
	font-family:黑体;
	text-align:center;
	font-weight:bold;
	letter-spacing:4px;
	display:inline-block;
	position:relative;
	line-height:52px;
	top:2px;
}

.qr-code {
	font-size:0px;
}
.qr-code-horizontal{
	display:inline-block;
}

.qr-code-vertical{
	display:block;
}

/*Part II codeupons css*/
.body-2-1 {
	width:950px;height:174px;
	float:left;
	margin-top:4px;
	display:inline-block;
}

.body-2-1-tip {
	width:25%;
	height:100%;
	float:left;
	display:inline-block;
	background-color:#3D3D3D;
}

.body-2-1-tip-title {
	width:100%;
	height:66px;
	display:block;
	color:#ffffff;
	font-size:22px;
	text-align:center;
	font-family:微软雅黑;
}

.body-2-1-tip-split {
	display:block;
	width:20%;
	height:2px;
	background-color:#ffffff;
	margin:auto auto;
	margin-top:10px;
}
.body-2-1-tip-content {
	display:block;
	height:100px;
	font-size:14px;
	text-align:center;
	font-family:微软雅黑;
	color:#bbbbbb;
	margin:auto auto;
	margin-top:10px;
}

.body-2-1-coupon {
	width:25%;
	height:100%;
	float:left;
	display:inline-block;
	background-color:#ffffff;
}
.body-2-1-coupon-image {
	width:100%;
	height:48%;
	background-image:url('//img.alicdn.com/imgextra/i3/321199669/TB2Ac7KXSOFJuJjSZFBXXaGxpXa_!!321199669.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
}
.body-2-1-coupon-tip {
	width:100%;
	height:20%;
	display:block;
	background-color:#ffffff;
	font-size:14px;
	font-family:微软雅黑;
	color:#777777;
	text-align:center;
}
.body-2-1-coupon-content {
	width:100%;
	height:32%;
	display:block;
	background-color:#ffffff;
	font-size:24px;
	font-family:微软雅黑;
	color:#000000;
	text-align:center;
	font-weight:bold;
}
/*Part III 镇店之宝*/

.body-3-1-left{
	width:522px;
	height:390px;
	display:inline-block;
	position:relative;
	float:left;
}

.body-3-1-right{
	width:428px;
	height:390px;
	display:inline-block;
}

.body-3-1-right-top {
	width:100%;
	height:60px;
	display:block;
}

.body-3-1-right-brand {
	width:100%;
	height:60px;
	font-size: 44px;
	font-family: 微软雅黑;
	color: rgb(45, 176, 237);
	font-weight: bold;
	line-height: 60px;
	text-align: left;
	display:block;
}

.body-3-1-right-slogan {
	width:100%;
	height:30px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: rgb(54,54,54);
	font-weight: bold;
	display:block;
	margin-left:4px;
}

.body-3-1-right-des {
	width:100%;
	height:60pxl;
	font-size: 12px;
	font-family: 微软雅黑;
	color: rgb(34, 34, 34);
	text-align: left;
	display:block;
}

.body-3-1-right-price {
	font-size: 18px;
	font-family: 微软雅黑;
	color: rgb(34, 34, 34);
	line-height: 0.966;
	display:block;
}



/*字体设置*/
.font-footer{
	width:100%;
	height:66px;
	position:relative;
	top:44px;
}


/*div模块悬浮变手形状*/
.cursor-hand {
	cursor:pointer;
}

/*特效模块*/
/*custom-effect-01:鼠标悬浮时，两个半透明方块从左上角和右下角过渡覆盖图片*/
/*custom-effect-01:.custom-effect-01 需要根据图片尺寸修改宽高100%显示*/
.custom-effect-01 {
	width: 270px;
	height:250px;
	min-height: 1px;
	position: relative; 
	float: left; 
}

.custom-effect-01 a:before {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.custom-effect-01 a:after {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.custom-effect-01 a:hover:before {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.custom-effect-01 a:hover:after {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

/*custom-effect-02 商品右上角热卖、特价、推荐标签 class="custom-effect-02"需重设padding已确保特效正确显示*/
.custom-effect-02-product-father {
	display: block;
	position: relative;
	margin:4px 0 0 4px;
	overflow: hidden;
	text-align: center;
	background: #FFF;
	transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
}
.custom-effect-02-product-father:hover {
	box-shadow: 0 0 4px #888888;
	-moz-box-shadow: 0 0 4px #888888;
	-webkit-box-shadow: 0 0 4px #888888;
}	
.custom-effect-02-product-father .sale-icon {
	background-color: #f1f1f1;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;

}
.custom-effect-02-product-father:hover .sale-icon {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

.custom-effect-02-product-father .recommend-icon {
	background-color: #f1f1f1;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
}
.custom-effect-02-product-father:hover .recommend-icon {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

.custom-effect-02-product-father .hot-icon {
	background-color: #f1f1f1;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
}
.custom-effect-02-product-father:hover .hot-icon {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

/*custom-effect-03 商品底部popup出收藏、购物车、购买的按钮，此效果使用淘宝Wideget popup实现*/

.custom-effect-03-popup-bg {
	width:100px;
	height:50px;
	background-color:black;
	position:relative;
	left:0px;
	bottom:0px;
	font-size:0;
	/*font-size:0 为了移除popupcontent inline-block得空隙*/
}

.custom-effect-03-popup-wishlist {
	display:inline-block;
	width:20%;
	height:100%;
	position:relative;
	left:18%;
	background-color:white;
}

.custom-effect-03-popup-cart {
	display:inline-block;
	width:20%;
	height:100%;
	position:relative;
	left:22%;
	background-color:red;
}

.custom-effect-03-popup-detail {
	display:inline-block;
	width:20%;
	height:100%;
	position:relative;
	left:24%;
	background-color:blue;
}

.custom-effect-03-popup-tip-bg {
	width:88px;
	height:24px;
	background-color:black;
	border-radius:2px;	
	color:#ffffff;
	text-align:center;
	font-size:10px;
	line-height:24px;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
	position:relative;
	left:39px;
	top:0px;
}




/*custom-effect-04 图片scale特效/
