/*Body CSS File by Mr.black*/
/*//open.taobao.com/docs/doc.htm?&treeId=10&articleId=102112&docType=1*/

/*short-code-list*/
/*
b:body
bg:background
btn:button
c:content
cd:countdown
ce:custom-effect
cg:catalog
cm:common
cp:coupon
ct:custom-title
ct:cart
dt:detail
i:item
ih: hot-icon
ir: recommend-icon
is: sale-icon
img:image
l:left
n:navigation
p:poroduct
pp:popup
qc:qr-code
r:right
s:split
t:tip
ti:title
tr:trigger
wi:wishlist
numbers:content order numbers
-:DOM between numbers 
-:Separative sign between short-code and words.
*/

/*b1 daily event css*/

.b1 {
	width:950px;
	height:430px;
	float:left;
	margin-top:24px;
}
/*b1-1 slider part */
.b1-1 {
	width:708px;
	height:430px;
	float:left;
	display:inline-block;
}
.b1-1-1 {
	position:absolute;
	left:0px;
	top;0px;
	overflow:hidden;
	width:708px;
	height:430px;
}
.b1-1-1-c {
	position:relative;
	left:0px;
	z-index:1;
}
.b1-1-1-n {
	display:inline-block;
	width:708px;
	height:12px;
	position:relative;
	top:404px;
	left:336px;
	margin:auto auto;
	z-index:2
}
.b1-1-1-c-i{
	left:0px;
	display:block;
	width:708px;
	height:430px;
	float:left;
}
.b1-1-1-n-i {
	display:inline-block;
	margin:0 6px 0 6px; 
	background-color: #000000; 
	width: 12px; 
	height: 12px;
}
.b1-1-1-n-i:hover {
	display:inline-block;
	margin:0 6px 0 6px; 
	background-color: #ff9900; 
	width: 12px; 
	height: 12px;
}
/*countdown part share the b1* configs above */
.cd-bg {
	width:708px;
	height:84px;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	bottom:0px;
	left:0px;
	line-height:84px;
	font-size:18px;
	color:#ffffff;
	font-family:微软雅黑;
	text-align:center;
	font-weight:500;
	letter-spacing:4px;
}
.h-bg,.m-bg,.s-bg {
	width:48px;
	height:52px;
	border-radius:5px;
	font-size:24px;
	color:#ffffff;
	font-family:黑体;
	text-align:center;
	font-weight:bold;
	letter-spacing:4px;
	display:inline-block;
	position:relative;
	line-height:52px;
	top:2px;
}
.h-bg {
	background-color:#fa565a;
}
.m-bg {
	background-color:#2dcb73;
}
.s-bg {
	background-color:#f6bc57;
}

/*right part */
.b1-2 {
	width:242px;
	height:430px;
	display:inline-block;
}
.b1-2-i {
	width:220px;
	height:202px;
	overflow:hidden;
	position:relative;
	left:22px;
}
.b1-2-s {
	width:220px;
	height:26px;
	overflow:hidden;
	position:relative;
	display:block;
	left:22px;
}
.qc {
	font-size:0px;
}
.qc-h{
	display:inline-block;
}
.qc-v{
	display:block;
}

/*b2 coupons css*/
.b2 {
	width:950px;height:174px;
	float:left;
	margin-top:4px;
	display:inline-block;
}
.b2-t {
	width:25%;
	height:100%;
	float:left;
	display:inline-block;
	background-color:#3D3D3D;
}
.b2-t-ti {
	width:100%;
	height:66px;
	display:block;
	color:#ffffff;
	font-size:22px;
	text-align:center;
	font-family:微软雅黑;
}
.b2-t-s {
	display:block;
	width:20%;
	height:2px;
	background-color:#ffffff;
	margin:auto auto;
	margin-top:10px;
}
.b2-t-c {
	display:block;
	height:100px;
	font-size:14px;
	text-align:center;
	font-family:微软雅黑;
	color:#bbbbbb;
	margin:auto auto;
	margin-top:10px;
}
.b2-cp {
	width:25%;
	height:100%;
	float:left;
	display:inline-block;
	background-color:#ffffff;
	z-index:1;
}
.b2-cp-img {
	width:100%;
	height:48%;
	background-image:url('//img.alicdn.com/imgextra/i3/321199669/TB2Ac7KXSOFJuJjSZFBXXaGxpXa_!!321199669.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
}
.b2-cp-t {
	width:100%;
	height:20%;
	display:block;
	background-color:#ffffff;
	font-size:14px;
	font-family:微软雅黑;
	color:#777777;
	text-align:center;
}
.b2-cp-c {
	width:100%;
	height:32%;
	display:block;
	background-color:#ffffff;
	font-size:22px;
	font-family:微软雅黑;
	color:#000000;
	text-align:center;
}
/*coupon popup*/
.cp-pp-bg {
	width:237.5px;
	height:174px;
	display:block;
	z-index:2;
}
.cp-pp-btn {
	width:120px;
	height:30px;
	background-color:#f0f0f0;
	border:1px solid #777777; 
	color:#222222;
	line-height:30px;
	font-size:18px;
	font-family:黑体;
	text-align:center;
	position:relative;
	top:120px;
	left:58.75px;
}
.cp-pp-btn:hover {
	background-color:#000000;
	color:#ffffff;
	text-decoration:none;
}

/*通用标题样式*/
.ct {
	width:950px;
	height:88px;
	float:left;
	margin-top:44px;
	text-align:center;
}

/*b3 镇店之宝*/
.b3 {
	width:950px;
	height:430px;
	background-color:#ffffff;
}
.b3-l{
	width:522px;
	height:430px;
	display:inline-block;
	position:relative;
	float:left;
}
.b3-r{
	width:428px;
	height:430px;
	display:inline-block;
}
.b3-r-top {
	width:100%;
	height:50px;
	display:block;
}
.b3-r-brand {
	width:100%;
	height:60px;
	font-size: 44px;
	font-family: 微软雅黑;
	color: rgb(45, 176, 237);
	font-weight: bold;
	line-height: 60px;
	text-align: left;
	display:block;
}
.b3-r-slogan {
	width:100%;
	height:20px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: rgb(114,114,114);
	font-weight: bold;
	display:block;
	margin-left:4px;
	margin-top:10px;
}
.b3-r-des {
	margin-top:30px;
	margin-bottom:10px;
	width:100%;
	height:auto;
	font-size: 14px;
	font-family: 微软雅黑;
	color: rgb(0, 0, 0);
	text-align: left;
	display:block;
}
.b3-r-des ol li {
	margin-left:30px;
	list-style-type:disc;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	line-height:24px;
	color:#555555;
}
.price-and-buy-btn{
	width:90%;
	height:60px;
	position:relative;
	margin-left:20px;
	padding-top:10px;
}
.b3-right-price {
	font-size: 24px;
	font-weight:bold;
	font-family: 微软雅黑;
	color: rgb(45, 176, 237);
	line-height:60px;
	display:inline-block;
	width:40%;
	height:60px;
	position:relative;
	bottom:-4px;
}
.b3-buy-btn {
	position:relative;
	right:0px;
	width:100px;
	height:36px;
	font-size:18px;
	font-family: 黑体;
	line-height:38px;
	text-align:center;
	display:inline-block;
}

/*catalog 黑哥推荐 女士专区男士专区等内容通用CSS*/
.b4,.b5,.b6,.b7,.b8,.b9 {
	width:950px;
	height:648px;
	float:left;
	margin-top:0px;
	display:inline-block;
}
/*2屏内容 导航块*/
.cm-2-n {
	display:block;
	width:360px;
	height:30px;
	position:relative;
	top:0px;
	left:0px;
	margin:auto auto;
	z-index:2;
}
.cm-2-n-cursor {
	cursor:pointer;
	width:180px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}
.cm-2-n-cursor span {
	display:none
}
.cm-2-c {
	position:relative;
	left:0px;
	z-index:1;
}
.cm-2-c-i {
	background-color:#F0F0F0;
	display:block;
	width:950px;
	height:648px;
	float:left;
	margin:auto auto;
}
.cm-2-c-i-ti {
	width:360px;
	height:30px;
	display:block;
	position:relative;
	margin-left:295px;
	margin-bottom:4px;	
}
.cm-2-c-i-ti-bg {
	width:180px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;	
}
.cm-2-c-i-ti-bg span{
	color:#232323;
}
/*3屏内容 导航块*/
.cm-3-n {
	display:block;
	width:360px;
	height:30px;
	position:relative;
	top:0px;
	left:0px;
	margin:auto auto;
	z-index:2;
}
.cm-3-n-cursor {
	cursor:pointer;
	width:120px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}
.cm-3-n-cursor span {
	display:none
}
.cm-3-c {
	position:relative;
	left:0px;
	z-index:1;
}
.cm-3-c-i {
	background-color:#F0F0F0;
	display:block;
	width:950px;
	height:648px;
	float:left;
	margin:auto auto;
}
.cm-3-c-i-ti {
	width:360px;
	height:30px;
	display:block;
	position:relative;
	margin-left:295px;
	margin-bottom:4px;	
}
.cm-3-c-i-ti-bg {
	width:120px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;	
}
.cm-3-c-i-ti-bg span{
	color:#232323;
}
/*4屏内容 导航块*/
.cm-4-n {
	display:block;
	width:360px;
	height:30px;
	position:relative;
	top:0px;
	left:0px;
	margin:auto auto;
	z-index:2;
}
.cm-4-n-cursor {
	cursor:pointer;
	width:90px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}
.cm-4-n-cursor span {
	display:none;
}
.cm-4-c {
	position:relative;
	left:0px;
	z-index:1;
}
.cm-4-c-i {
	background-color:#F0F0F0;
	display:block;
	width:950px;
	height:648px;
	float:left;
	margin:auto auto;
}
.cm-4-c-i-ti {
	width:360px;
	height:30px;
	display:block;
	position:relative;
	margin-left:295px;
	margin-bottom:4px;	
}
.cm-4-c-i-ti-bg {
	width:90px;
	height:30px;
	display:inline-block;
	float:left;
	font-size:16px;
	font-family:arial;
	color:#999999;
	text-align:center;
	font-weight:bold;	
}
.cm-4-c-i-ti-bg span{
	color:#232323;
}
/*每屏内容样式定义*/
.cm-2-c-i-c,.cm-3-c-i-c,.cm-4-c-i-c {
	display:block;
	width:942px;
	height:618px;
	margin-left:4px;
	margin:top:8px;
	font-size:0px;	
}
/*四列内容*/
.cm-c {
	display:inline-block;
	float:left;
	width:216px;
	height:602px;	
	margin-top:4px;
	margin-left:22px;
}
.cm-c-2 {
	display:inline-block;
	float:left;
	width:454px;
	height:602px;	
	margin-top:4px;
	margin-left:22px;
}
.cm-c-2-t {
	display:block;
	width:100%;
	height:292px;
	font-size:16px;
	background-color:red;
}
.cm-c-2-b {
	display:block;
	width:100%;
	height:292px;
	position:relative;
	top:18px;
	font-size:16px;
}

/*定义des模块分别在每一列得时候用*/
.cm-c-des {
	margin-left:22px;
	background-color:#82D4ED;
	font-family:微软雅黑;
}
.cm-c-first{
	margin-left:0px;
}
.cm-c-des-ti {
	display:table-cell;
	height:140px;
	width: 216px;
	text-align:center;
	font-size:24px;
	vertical-align:bottom;
	text-align:center;
	margin:auto auto;
	color:#ffffff;
}
.cm-c-des-des {
	height:200px;
	width: 86%;
	text-align:center;
	font-size:15px;
	margin:auto auto;
	margin-top:40px;
	color:#ffffff;
	line-height:18px;
}
.cm-c-des-btn {
    width:100px;
	height:30px;
	background: white;
    letter-spacing: 2px;
	text-align:center;
	line-height:30px;
	margin:auto auto;
	margin-top:82px;
	font-size:16px;
	color:#2095b8;
}

.cm-c-i-top {
	display:block;
	width:218px;
	height:292px;
	position:relative;
	top:0px;
	background-color:#FFFFFF;
	margin:0 0 4px 4px;;
}
.cm-c-i-top:hover {
	box-shadow: 0 0 4px #888888;
	-moz-box-shadow: 0 0 4px #888888;
	-webkit-box-shadow: 0 0 4px #888888;
}
.cm-c-i-top-img{
	display:table-cell;
	width:208px;
	height:208px;
	overflow:hidden;
	margin:auto auto;
	vertical-align:middle;	
}
.cm-c-i-top-name{
	width:208px;
	height:22px;
	display:block;
	text-align:center;
	font-size:16px;
	color:#555555;
	font-family:微软雅黑;
	margin:auto auto;	
}
.cm-c-i-top-price{
	display:block;
	text-align:center;
	font-size:16px;
	color:#555555;
	width:208px;
	height:30px;
	line-height:30px;
	margin:auto auto;
	font-family:微软雅黑;
	margin-top:14px;	
}

.cm-c-i-btm {
	display:block;
	width:218px;
	height:292px;
	position:relative;
	top:18px;
	background-color:#FFFFFF;
	margin:4px;	
}
.cm-c-i-btm-img{
	display:table-cell;
	width:208px;
	height:208px;
	overflow:hidden;
	margin:auto auto;
	vertical-align:middle;	
}
.cm-c-i-btm-name{
	width:208px;
	height:22px;
	display:block;
	text-align:center;
	font-size:16px;
	color:#555555;
	font-family:微软雅黑;
	margin:auto auto;	
}
.cm-c-i-btm-price{
	display:block;
	text-align:center;
	font-size:16px;
	color:#555555;
	width:208px;
	height:30px;
	line-height:30px;
	margin:auto auto;
	font-family:微软雅黑;
	margin-top:14px;	
}

.cm-c-i-btm:hover,.cm-c-i-top:hover{
	box-shadow: 0 0 4px #888888;
	-moz-box-shadow: 0 0 4px #888888;
	-webkit-box-shadow: 0 0 4px #888888;	
}

a:hover {
	text-decoration:none;
	cursor:pointer;
}
a:link {
	text-decoration:none;
}
/*人民币符号*/
.rmb{
	font-family:"times new roman", 微软雅黑;
}

/*品牌专区*/
.brand-style {
	width:950px;
	height:464px;
	font-size:0px;
}
.brand-logo-and-instruction{
	width:950px;
	height:120px;
	display:block;
}
.brand-logo-block {
	width:270px;
	height:120px;
	display:inline-block;
}
.brand-logo {
	width:270px;
	height:120px;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
}
.brand-instruction-block {
	width:680px;
	height:120px;
	display:inline-block;
}
.brand-instruction{
	font-size:16px;
	font-family:微软雅黑;
	width:652px;
	height:120px;
	float:left;
	display:table-cell;
	vertical-align:middle;
	color:rgb(51,51,51);
}

.brand-instruction span {
	height:120px;
	display:table-cell;
	vertical-align:middle;
}

.brand-products {
	width:950px;
	height:280px;
	display:block;
	padding-top:20px;
}
.brand-products-unit {
	width:162px;
	height:240px;
	display:inline-block;
	float:left;
	margin:0px 34px 0px 34px;
	float:left;
}
.brand-product-unit-img {
	width:160px;
	height:160px;
	background-color:#F7F8FA;
	border:1px solid rgba(192,190,203,0.5);
	overflow:hidden;
}

.brand-product-unit-img img {
	-webkit-transition: all 0.2s linear 0.35s;
	transition: all 0.2s linear 0.35s;
	width:100%;
	height:100%;
}
.brand-product-unit-img img:hover {
	width:120%;
	height:120%;
}

.brand-product-unit-name {
	font-size:16px;
	font-weight:400;
	width:162px;
	text-align:center;
	color:#757575;
	padding-top:16px;
}

.brand-product-unit-price{
	width:162px;
	height:20px;
	text-align:center;
	padding-top:12px;
	color:#000000;
	font-size:18px;
}

.brand-products-space {
	display:inline-block;
	width:10px;
	height:240px;
	float:left;
}


.brand-more {
	display:block;
	width:950px;
	height:22px;
	line-height:22px;
	text-decoration:underline;
	text-align:center;
	font-size:14px;
	font-family:微软雅黑;
	color:rgb(51,51,51);
	margin-top:-10px;
}
.brand-line {
	width:80%;
	height:2px;
	background-color:#ffffff;
	margin:auto auto;
	margin-top:20px
}

/*旺旺咨询*/
.talk-with-me{
	height:136px;
	padding-top:20px;
}

.talk-with-me-1 {
	left:50%;
	top:auto;
	border:none;
	padding:0;
}

.talk-with-me-1-1 {
	left:-960px;
	top:auto;
	border:none;
	padding:0;
}

.talk-with-me-2 {
	display:inline-block;
	float:left;
	width:750px;
	height:68px;
	position:relative;
	left:0px;
	top:34px;
	color:white;
	font-family:微软雅黑;
}

.talk-with-me-2-1 {
	display:block;
	width:90%;
	margin:auto auto;
	height:30px;
	line-height:30px;
	font-size:16px;
}
.talk-with-me-2-2 {
	display:block;
	width:30px;
	height:2px;
	background-color:#ffffff;
	margin:3px;
	position:relative;
	left:36px;
}

.talk-with-me-2-3 {
	display:block;
	width:90%;
	margin:auto auto;
	height:30px;
	line-height:30px;
	font-size:22px;
}

.talk-with-me-3{
	display:inline-block;
	float:left;
	width:200px;
	height:68px;
	font-family:微软雅黑;	
}
.talk-with-me-3-1{
	display:block;
	width:120px;
	height:30px;
	position:relative;
	left:44px;top:54px;
	background-color:#FFD26F;
	text-align:center;
	line-height:30px;
	font-size:16px;
	color:#212121;
}

.talk-with-me-3-1:hover {
	background-color:#ffb520;	
}



/*字体设置*/
.font-footer{
	width:100%;
	height:66px;
	position:relative;
	top:44px;
}

/*按钮设置*/
.btn-styled {
	border-width: 1px;
	border-color: rgb(119, 119, 119);
	border-style: solid;
	background-color:#f0f0f0;
	color:#222222;
}

.btn-styled:hover {
	border-width: 1px;
	border-color: rgb(119, 119, 119);
	border-style: solid;
	background-color:#000000;
	color:#ffffff;
	text-decoration:none;
}

/*div模块悬浮变手形状*/
.cursor-hand {
	cursor:pointer;
}

/*footer*/
.footer-customized {
	width:949px;
	height:222px;
	background-color:#f0f0f0;
	font-size:0px;
	margin:auto auto;
}

.footer-content {
	width:100%;
	height:180px;
	display:block;
}

.footer-package,.footer-shipping,.footer-after-service,.footer-contact-us {
	width:236px;
	height:180px;
	display:inline-block;
	font-size:16px;
	vertical-align:top;
}
.footer-vertical-line {
	width:1px;
	height:180px;
	background-color:#dfdfdf;
	display:inline-block;
	position:relative;
	vertical-align:top;
}
.footer-horizontal-line {
	width:100%;
	height:1px;
	background-color:#dfdfdf;
	display:block;
}


.footer-title {
	width:236px;
	color:#232323;
	letter-spacing: 0.8px;
	margin: 20px 0 18px 0;
	text-transform: uppercase;
	font-size:16px;
	font-family:微软雅黑;
	text-align:center;
	height:36px;
	line-height:36px;
	position:relative;
}
.footer-content-1{
	width:90%;
	height:124px;
	color:#777777;
	font-size:13px;
	text-align:center;
	font-family:微软雅黑;
	margin:auto auto;
}
.footer-content-1 ol{
	text-align:left;
	margin-left:20px;
}
.footer-content-1 ol li{
	list-style-type:disc;
	line-height:20px;
}

.author-infor{
	width:100%;
	height:24px;
	text-align:center;
}
.author-infor-left{
	width:50%;
	height:100%;
	color:#999999;
	line-height:40px;
	text-align: right;
	font-size:12px;
	font-family:微软雅黑;
}
.author-infor-right{
	width:50%;
	height:100%;
	color:#000000;
	line-height:40px;
	text-align: left;
	font-size:12px;
	font-family:微软雅黑;
}
/*collection 特色专区*/
.collection {
	width:950px;
	height:240px;
	float:left;
	margin-top:4px;
	font-size:0px;
}

.collection-image-left{
	display:inline-block;
	margin:0px 11px 0px 0px;
}

.collection-image-right{
	display:inline-block;
	margin:0px 0px 0px 11px;
}
.custom-effect-collection-image {
	width: 464px;
	height:222px;
	min-height: 1px;
	position: relative; 
	float: left; 
}

.custom-effect-collection-image a:before {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.custom-effect-collection-image a:after {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.custom-effect-collection-image a:hover:before {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.custom-effect-collection-image a:hover:after {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}


/*特效模块*/
/*ce-1:鼠标悬浮时，两个半透明方块从左上角和右下角过渡覆盖图片*/
/*ce-1:.ce-1 需要根据图片尺寸修改宽高100%显示*/
.ce-1 {
	width: 270px;
	height:250px;
	min-height: 1px;
	position: relative; 
	float: left; 
}

.ce-1 a:before {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.ce-1 a:after {
	background-color: #ffffff;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	/* Netscape */
	-khtml-opacity: 0.2;
	/* Safari 1.x */
	-webkit-opacity: 0.2;
	/* other webkit*/
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;

}
.ce-1 a:hover:before {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.ce-1 a:hover:after {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-khtml-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

/*custom-effect-02 商品右上角热卖、特价、推荐标签 class="custom-effect-02"需重设padding已确保特效正确显示*/
.ce-2 {
	display: block;
	position: relative;
	margin:0px 0 0 0px;
	overflow: hidden;
	text-align: center;
	background: #FFF;
	transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
}
.ce-2:hover {
	box-shadow: 0 0 4px #888888;
	-moz-box-shadow: 0 0 4px #888888;
	-webkit-box-shadow: 0 0 4px #888888;
}	
.ce-2 .is {
	background-color: #f1f1f1;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;

}
.ce-2:hover .is {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

.ce-2 .ir {
	background-color: #07ac0f;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	font-family:微软雅黑;
	color:#ffffff;
}
.ce-2:hover .ir {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

.ce-2 .ih {
	background-color: #ea1c39;
	color: #222;
	font-size: 13px;
	font-weight: 400;
	opacity: 0;
	line-height: 18px;
	padding: 2px 11px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	top: 5px;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
}
.ce-2:hover .ih {
	opacity: 1;
	-moz-opacity: 1;  /* Netscape */
	-khtml-opacity: 1; /* Safari 1.x */
	-webkit-opacity: 1; /* other webkit*/
}

/*custom-effect-03 商品底部popup出收藏、购物车、购买的按钮，此效果使用淘宝Wideget popup实现*/

.ce-3 {
	width:208px;
	height:30px;
	position:relative;
	left:0px;
	bottom:14px;
	font-size:0;
	background-color:#ffffff;
	/*font-size:0 为了移除popupcontent inline-block得空隙*/
}

.ce-3-wl {
	display:inline-block;
	background-image:url(//img.alicdn.com/imgextra/i1/321199669/TB2OjQDaUgQMeJjy0FeXXXOEVXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
	width:20%;
	height:100%;
	position:relative;
	left:18%;
}
.ce-3-wl:hover{
	background-image:url(//img.alicdn.com/imgextra/i4/321199669/TB2lmC4b7.HL1JjSZFlXXaiRFXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
}


.ce-3-ct {
	display:inline-block;
	width:20%;
	height:100%;
	position:relative;
	left:22%;
	background-image:url(//img.alicdn.com/imgextra/i1/321199669/TB2f2hSXEQIL1JjSZFhXXaDZFXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.ce-3-ct:hover{
	background-image:url(//img.alicdn.com/imgextra/i2/321199669/TB2O_8OXbsTMeJjy1zeXXcOCVXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.ce-3-dt {
	display:inline-block;
	width:20%;
	height:100%;
	position:relative;
	left:24%;
	background-image:url(//img.alicdn.com/imgextra/i3/321199669/TB28I19b8cHL1JjSZFBXXaiGXXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.ce-3-dt:hover{
	background-image:url(//img.alicdn.com/imgextra/i1/321199669/TB2v4K8b7.HL1JjSZFuXXX8dXXa_!!321199669.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.ce-3-tip-bg {
	width:88px;
	height:24px;
	background-color:black;
	border-radius:2px;	
	color:#ffffff;
	text-align:center;
	font-size:10px;
	line-height:24px;
}
.ce-3-tip-bg-tr {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
	position:relative;
	left:39px;
	top:0px;
}
/*ce-4 聚焦动画*/
.ce-4{margin-bottom:0px;position:relative;width:100%;height:618px;margin:auto auto;}
.ce-4 .zd{position:relative;z-index:10;height:610px;top:4px;left:0px;background-color:#ffffff;}
.ce-4 .zd .zdl-1-1{left:160px;top:220px;}
.ce-4 .zd .zdl-1-2{left:590px;top:340px;}
.ce-4 .zd .zdl-1-3{left:40px;top:40px;}
.ce-4 .zd .zdl-1-4{left:400px;top:320px;}
.ce-4 .zd .zdl-2-1{left:40px;top:280px;}
.ce-4 .zd .zdl-2-2{left:750px;top:110px;}
.ce-4 .zd .zdl-2-3{left:590px;top:50px;}
.ce-4 .zd .zdl-2-4{left:240px;top:60px;}
.ce-4 .zd:hover .zdl-1-1{left:24px;top:41px;}
.ce-4 .zd:hover .zdl-1-2{left:214px;top:41px;}
.ce-4 .zd:hover .zdl-1-3{left:570px;top:41px;}
.ce-4 .zd:hover .zdl-1-4{left:760px;top:41px;}
.ce-4 .zd:hover .zdl-2-1{left:24px;top:325px;}
.ce-4 .zd:hover .zdl-2-2{left:214px;top:324px;}
.ce-4 .zd:hover .zdl-2-3{left:404px;top:325px;}
.ce-4 .zd:hover .zdl-2-4{left:594px;top:325px;}
.ce-4 .zd .zdl{position:absolute;-webkit-transition:0.25s ease-out;-moz-transition:0.25s ease-out;-o-transition:0.25s ease-out;transition:0.25s ease-out;z-index:5;}
.ce-4 .zd .zdl:hover{position:absolute;-webkit-transform:scale(1.05);transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);-webkit-box-shadow:0px 0px 60px 0px rgba(0,0,0,0.7);box-shadow:0px 0px 60px 0px rgba(0,0,0,0.7);z-index:10;}
