.ce-4 {
	height: 480px; 
	width: 950px;
}


.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-0 { 
	left: 0px!important; 
	top: 0px!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1 { 
	left: 20%!important; 
	top: 0px!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2 { 
	left: 40%!important; 
	top: 0px!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-3 { 
	left: 60%!important; 
	top: 0px!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-4 { 
	left: 80%!important; 
	top: 0px!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-5 { 
	left: 0px!important; 
	top: 50%!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-6 { 
	left: 20%!important; 
	top: 50%!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-7 { 
	left: 40%!important; 
	top: 50%!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-8 { 
	left: 60%!important; 
	top: 50%!important; 
}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-9 { 
	left: 80%!important; 
	top: 50%!important; 
}