.tshop-pbsm-shop-self-defined{margin-bottom:0px;position:relative;width:100%;height:480px;margin:auto auto;}
.tshop-pbsm-shop-self-defined .sim-pro-zd{position:relative;z-index:10;height:480px;top:110px;left:300px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-1-1{left:120px;top:100px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-1-2{left:500px;top:280px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-1-3{left:0px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-1-4{left:280px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-1-5{left:380px;top:30px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-2-1{left:40px;top:280px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-2-2{left:730px;top:110px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-2-3{left:560px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-2-4{left:0px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list-2-5{left:80px;top:130px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1-1{left:0px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1-2{left:190px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1-3{left:380px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1-4{left:570px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-1-5{left:760px;top:0px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2-1{left:0px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2-2{left:190px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2-3{left:380px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2-4{left:570px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd:hover .sim-pro-zd-list-2-5{left:760px;top:240px;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list{position:absolute;-webkit-transition:0.25s ease-out;-moz-transition:0.25s ease-out;-o-transition:0.25s ease-out;transition:0.25s ease-out;z-index:5;}
.tshop-pbsm-shop-self-defined .sim-pro-zd .sim-pro-zd-list:hover{position:absolute;-webkit-transform:scale(1.05);transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);-webkit-box-shadow:0px 0px 60px 0px rgba(0,0,0,0.7);box-shadow:0px 0px 60px 0px rgba(0,0,0,0.7);z-index:10;}