<?xml version="1.0" encoding="UTF-8"?>
<config>
	<homepage>
		<home-img>//www.qingqubaike.com/wp-content/uploads/2017/09/black.jpg</home-img>
		<home-link>//4008224.taobao.com</home-link>		
	</homepage>
	<product>
		<item>
			<product-id>536136366677</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536136366677.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536136366677</product-link>
		</item>
		<item>
			<product-id>553933759660</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553933759660.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553933759660</product-link>
		</item>
		<item>
			<product-id>546569046557</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/546569046557.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=546569046557</product-link>
		</item>
		<item>
			<product-id>537000905613</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/537000905613.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=537000905613</product-link>
		</item>
		<item>
			<product-id>551088084843</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551088084843.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551088084843</product-link>
		</item>
		<item>
			<product-id>551469125432</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551469125432.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551469125432</product-link>
		</item>
		<item>
			<product-id>540920203496</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540920203496.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540920203496</product-link>
		</item>
		<item>
			<product-id>551250294511</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551250294511.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551250294511</product-link>
		</item>
		<item>
			<product-id>551535263137</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551535263137.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551535263137</product-link>
		</item>
		<item>
			<product-id>551475209107</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551475209107.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551475209107</product-link>
		</item>
		<item>
			<product-id>540920311659</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540920311659.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540920311659</product-link>
		</item>
		<item>
			<product-id>536138022351</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536138022351.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536138022351</product-link>
		</item>
		<item>
			<product-id>540918807914</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540918807914.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540918807914</product-link>
		</item>
		<item>
			<product-id>549325384262</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/549325384262.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=549325384262</product-link>
		</item>
		<item>
			<product-id>551567893429</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551567893429.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551567893429</product-link>
		</item>
		<item>
			<product-id>536136366677</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536136366677.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536136366677</product-link>
		</item>
		<item>
			<product-id>540920146255</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540920146255.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540920146255</product-link>
		</item>
		<item>
			<product-id>536877595810</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536877595810.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536877595810</product-link>
		</item>
		<item>
			<product-id>551175986422</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551175986422.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551175986422</product-link>
		</item>
		<item>
			<product-id>551497250463</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551497250463.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551497250463</product-link>
		</item>
		<item>
			<product-id>547044136837</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547044136837.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547044136837</product-link>
		</item>
		<item>
			<product-id>536463771734</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536463771734.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536463771734</product-link>
		</item>
		<item>
			<product-id>551152609737</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551152609737.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551152609737</product-link>
		</item>
		<item>
			<product-id>553197680436</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553197680436.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553197680436</product-link>
		</item>
		<item>
			<product-id>551216529218</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551216529218.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551216529218</product-link>
		</item>
		<item>
			<product-id>551536087967</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551536087967.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551536087967</product-link>
		</item>
		<item>
			<product-id>551528759868</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551528759868.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551528759868</product-link>
		</item>
		<item>
			<product-id>547089614984</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547089614984.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547089614984</product-link>
		</item>
		<item>		
			<product-id>551464953250</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551464953250.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551464953250</product-link>
		</item>
		<item>
			<product-id>536951466410</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536951466410.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536951466410</product-link>
		</item>
		<item>
			<product-id>549429283172</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/549429283172.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=549429283172</product-link>
		</item>
		<item>
			<product-id>553345906539</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553345906539.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553345906539</product-link>
		</item>
		<item>
			<product-id>536137818845</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536137818845.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536137818845</product-link>
		</item>
		<item>
			<product-id>551005200635</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551005200635.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551005200635</product-link>
		</item>
		<item>
			<product-id>539947271961</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/539947271961.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=539947271961</product-link>
		</item>
		<item>
			<product-id>551272855713</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551272855713.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551272855713</product-link>
		</item>
		<item>
			<product-id>553852833073</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553852833073.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553852833073</product-link>
		</item>
		<item>
			<product-id>544373679800</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/544373679800.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=544373679800</product-link>
		</item>
		<item>
			<product-id>551274411192</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551274411192.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551274411192</product-link>
		</item>
		<item>
			<product-id>538061395093</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/538061395093.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=538061395093</product-link>
		</item>
		<item>
			<product-id>547330795552</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547330795552.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547330795552</product-link>
		</item>
		<item>
			<product-id>551598498616</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551598498616.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551598498616</product-link>
		</item>
		<item>
			<product-id>549151635331</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/549151635331.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=549151635331</product-link>
		</item>
		<item>
			<product-id>551285783846</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551285783846.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551285783846</product-link>
		</item>
		<item>
			<product-id>540917839665</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540917839665.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540917839665</product-link>
		</item>
		<item>
			<product-id>538399849017</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/538399849017.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=538399849017</product-link>
		</item>
		<item>
			<product-id>536998261187</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536998261187.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536998261187</product-link>
		</item>
		<item>
			<product-id>553388367636</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553388367636.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553388367636</product-link>
		</item>
		<item>
			<product-id>553866055260</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553866055260.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553866055260</product-link>
		</item>
		<item>
			<product-id>536137782531</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536137782531.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536137782531</product-link>
		</item>
		<item>
			<product-id>550396209938</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/550396209938.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=550396209938</product-link>
		</item>
		<item>
			<product-id>557311024022</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/557311024022.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=557311024022</product-link>
		</item>
		<item>
			<product-id>553343351562</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553343351562.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553343351562</product-link>
		</item>
		<item>
			<product-id>536963429425</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536963429425.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536963429425</product-link>
		</item>
		<item>
			<product-id>547703886024</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547703886024.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547703886024</product-link>
		</item>
		<item>
			<product-id>551163716045</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551163716045.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551163716045</product-link>
		</item>
		<item>
			<product-id>551080336919</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551080336919.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551080336919</product-link>
		</item>
		<item>
			<product-id>551162260922</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551162260922.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551162260922</product-link>
		</item>
		<item>
			<product-id>549372709114</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/549372709114.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=549372709114</product-link>
		</item>
		<item>
			<product-id>553935699140</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553935699140.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553935699140</product-link>
		</item>	
		<item>
			<product-id>553341211851</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553341211851.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553341211851</product-link>
		</item>	
		<item>
			<product-id>536993273859</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536993273859.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536993273859</product-link>
		</item>	
		<item>
			<product-id>547099886251</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547099886251.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547099886251</product-link>
		</item>	
		<item>
			<product-id>540912741526</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540912741526.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540912741526</product-link>
		</item>	
		<item>
			<product-id>549327180475</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/549327180475.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=549327180475</product-link>
		</item>	
		<item>
			<product-id>550347619424</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/550347619424.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=550347619424</product-link>
		</item>	
		<item>
			<product-id>536136890490</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/536136890490.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=536136890490</product-link>
		</item>	
		<item>
			<product-id>537035756509</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/537035756509.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=537035756509</product-link>
		</item>	
		<item>
			<product-id>550284497378</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/550284497378.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=550284497378</product-link>
		</item>	
		<item>
			<product-id>553279718250</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553279718250.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553279718250</product-link>
		</item>	
		<item>
			<product-id>547098782785</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547098782785.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547098782785</product-link>
		</item>
		<item>
			<product-id>551209381976</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551209381976.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551209381976</product-link>
		</item>		
		<item>
			<product-id>553342551025</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553342551025.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553342551025</product-link>
		</item>		
		<item>
			<product-id>551122855182</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551122855182.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551122855182</product-link>
		</item>		
		<item>
			<product-id>537029988325</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/537029988325.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=537029988325</product-link>
		</item>		
		<item>
			<product-id>540920266578</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/540920266578.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=540920266578</product-link>
		</item>		
		<item>
			<product-id>557483266603</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/557483266603.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=557483266603</product-link>
		</item>		
		<item>
			<product-id>557502795454</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/557502795454.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=557502795454</product-link>
		</item>
		<item>
			<product-id>547330579500</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/547330579500.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=547330579500</product-link>
		</item>				
		<item>
			<product-id>551494286807</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/551494286807.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=551494286807</product-link>
		</item>				
		<item>
			<product-id>552362665366</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/552362665366.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=552362665366</product-link>
		</item>				
		<item>
			<product-id>558165434578</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/558165434578.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=558165434578</product-link>
		</item>		
		<item>
			<product-id>553400169469</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553400169469.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553400169469</product-link>
		</item>	
		<item>
			<product-id>543897297061</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/543897297061.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=543897297061</product-link>
		</item>	
		<item>
			<product-id>543921131563</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/543921131563.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=543921131563</product-link>
		</item>	
		<item>
			<product-id>553851256677</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/553851256677.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=553851256677</product-link>
		</item>	
		<item>
			<product-id>543905686989</product-id>
			<product-img>//www.qingqubaike.com/wp-content/uploads/2017/09/543905686989.jpg</product-img>
			<product-link>//item.taobao.com/item.htm?id=543905686989</product-link>
		</item>		
	</product>
	<download>
		<item>
			<app-name>com.lovense.bodychat</app-name>
			<app-img>//www.qingqubaike.com/wp-content/uploads/2017/09/com.lovense.bodychat.jpg</app-img>
			<app-link>//cdn.hytto.com/files/apps/bodychat.apk</app-link>
		</item>
		<item>
			<app-name>com.lovense.remote</app-name>
			<app-img>//www.qingqubaike.com/wp-content/uploads/2017/09/com.lovense.remote.jpg</app-img>
			<app-link>http://qingqubaike-1253232907.costj.myqcloud.com/Lovense%20Remote_v3.0.5By%E9%BB%91%E5%93%A5%E6%83%85%E8%B6%A3.com.apk</app-link>
		</item>
		<item>
			<app-name>com.zalo.health</app-name>
			<app-img>//www.qingqubaike.com/wp-content/uploads/2017/09/com.zalo_.health.jpg</app-img>
			<app-link>http://qingqubaike-1253232907.costj.myqcloud.com/zalo_health_By%E9%BB%91%E5%93%A5%E6%83%85%E8%B6%A3.apk</app-link>
		</item>
		<item>
			<app-name>com.vrp.player</app-name>
			<app-img>//www.qingqubaike.com/wp-content/uploads/2017/09/com.vrp_.player.jpg</app-img>
			<app-link>http://qingqubaike-1253232907.costj.myqcloud.com/VirtualRePlayer_0.6_apk.apk</app-link>
		</item>
	</download>
</config>